<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/css/account.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <div class="title">
                <img src="~/images/icons/account_circle_black.svg" alt="Alternate Text" />
                <h1>Minha conta</h1>
            </div>

            <ul class="nav-links">
                <li><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li><a asp-controller="Devices" asp-action="Index">Dispositivos</a></li>
            </ul>
        </nav>
    </header>

    <section class="main">
        @RenderBody()
    </section>

</body>
</html>
