@using WhatDoYouOwn_ASPNET.Models
@model UserModel

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/images/WD.png" rel="icon" />
    <title>WDYO - Cadastro</title>
</head>
<body class="singup-page">
    <main class="form-position">
        <form id="form-itens" method="post" asp-controller="SingUp" asp-action="Register">
            <label>Nome</label>
            <input class="content-form" type="text" placeholder="Informe seu nome." required asp-for="Nome" />

            <label>Sobrenome</label>
            <input class="content-form" type="text" placeholder="Informe seu sobrenome." required asp-for="Sobrenome" />

            <label>Email</label>
            <input class="content-form" type="email" placeholder="Informe seu email." required asp-for="Email" />

            <label>Senha</label>
            <input class="content-form" type="password" placeholder="Informe uma senha." maxlenth="15" required asp-for="Senha" />

            <button id="input-button" type="submit">Cadastrar</button>
            <span>Já tem um conta? Acesse a página de login <a asp-controller="SingIn" asp-action="Index">aqui</a>.</span>
        </form>
    </main>
</body>
</html>