<!DOCTYPE html>
<html>
<head>
    <title>WDYO - Inicial</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="content">
            <nav>
                <ul>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Projeto</a></li>
                    <li><a href="#">Objetivo</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
        </ul>
    </section>

    <section class="main">
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolor illum provident molestias deleniti iste, adipisci, cumque possimus sunt praesentium ea expedita fugiat et pariatur recusandae? Eius omnis voluptatibus id? Earum aut magnam velit, ipsum, fugiat itaque provident exercitationem est sit dolorum illo non assumenda repellat quis quasi natus voluptates dolores maxime explicabo sunt nihil. Doloremque, numquam id. Praesentium facere itaque laudantium quidem reprehenderit optio quo suscipit quod error aperiam, incidunt labore inventore atque eveniet placeat voluptatibus debitis quia fugit. Nisi commodi, voluptatem recusandae explicabo assumenda architecto pariatur atque inventore rerum! Voluptatum nemo laboriosam similique esse quod deserunt modi iste.</p>
        </div>
    </section>
</body>
</html>