* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
    position: relative;
}

:root {
    --primary: #0C7A9B;
    --secondary: #C9E9D7;
    --tertiary: #67AAB0;
    --neutron: #c1d1dc;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

header {
    background: var(--primary);
    width: 100%;
    height: 150px;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

    nav ul {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
    }

        nav ul button {
            border: 1px solid var(--tertiary);
            background: transparent;
            padding: 8px 40px;
            cursor: pointer;
            margin-left: 30px;
            color: var(--tertiary);
            font-weight: bold;
            border-radius: 4px;
        }

            nav ul button:hover {
                background-color: var(--primary);
                color: white;
                transition: 0.3s;
            }

        nav ul li {
            list-style: none;
            font-size: 18px;
        }

            nav ul li a {
                padding: 10px;
                cursor: pointer;
                color: var(--brown);
                font-weight: bold;
            }

                nav ul li a:hover {
                    color: #5d3d17a7;
                }

/*Formulário de cadastro e login*/

.singup-page {
    background-color: var(--neutron);
}

.singin-page {
    background-color: var(--neutron);
}

.form-positon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-itens {
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5% 35% 5% 35%;
    padding: 3% 5% 2% 5%;
    border: 1px solid black;
    border-radius: 12px;
}

#form-itens span {
    margin-top: 12px;
}

#form-itens span a {
    color: black;
    text-decoration: none;
}

.content-form {
    margin-bottom: 10%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid var(--primary);
    width: 100%;
}

#input-button {
    margin-top: 5%;
    padding: 4% 0% 4% 0%;
    border-radius: 15px;
    border: 1px solid var(--primary);
    cursor: pointer;
    width: 100%;
}

    #input-button:hover {
        background-color: #BDBDBD;
    }

.open-menu {
    background: var(--primary);
    border: none;
    cursor: pointer;
}

/*Menu*/

.sidebar {
    background: var(--secondary);
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -1000px;
    z-index: 999;
    transition: 0.5s;
    align-content: start;
    padding: 15px;
}

    .sidebar.open {
        left: 0;
    }

    .sidebar.shift {
        margin-left: 250px;
    }

.link-wrapper li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

    .menu-item a {
        padding: 10px;
        cursor: pointer;
        color: var(--primary);
        font-weight: bold;
        font-size: 1.2em;
    }

        .menu-item a:hover {
            color: var(--tertiary);
            transition: 0.2s;
        }

.close-btn {
    background: transparent;
    border: 0;
}
